$baseFontSize: 37.5; //基于视觉稿750横屏尺寸/100得出的基准font-size
//
$bgColor:#f5f5f5;
// 屏幕宽度
$minWidth: 768px;
$stdWidth: 1000px;
$maxWidth: 1200px;
// 屏幕宽度
$mainPurple: #7f1f59;
$mainLightPurple: #b46299;
$getTelIntrobg: #f7f6f5;
$getTelIntrobd: #ece8e6;
// btn颜色
$btnActive: #b2b2b2;
$btnHover: #b2b2b2;
$btnClear: #ccc;
// 常用颜色
$white: #FFF;
$black: #000;
$deeptBlack: #031313;
$middletBlack: #808080;
$lightBlack: #333;
$gray: #999;
$deepGray: #666;
$middleGray: #808080;
$lightGray: #ccc;
$gray79: #797979;
$gray78: #787878;
$lightPurple: #cde4ff;
$deepPurple: #4990e2;
$whiteActive: #fafafa;
// 按钮颜色
$lightGreen: #0aa7a9;
$deepGreen: #20b6b9;
$lightBlue: #73a9e6;
$red: red;
$deepRed: #666;
$middleRed: #808080;
$ligthRed:#F40F0F;
$fzActive: #b2b2b2;
$blue:blue;
$lintgreen:#0CD19C;
$lintBlue:#0aa7a9;
$fsGreen: #05b8ba;
$lintBgGreen:#d9f1f2;
// 主背景色
$mainBgc: #ccc7c7;
// 主边框色
$mainBdc: #d8d8d8;
// 列表边框颜色
$listBorderColor: #e6e6e6;
// 主输入框边框色
$mainInputBdc: #ece8e6;
// head模块配色
$mheadSlimBgc: #faf8f9;
$mheadSlimBdc: #e6e6e6;
$yellow:#ffc805;
$blue:#5c74e2;
$lintblue:#4d66d9;
$lintsblue:#aaa3b6;
$deepblue:#270055;
// foot模块配色
$mfootBgc: #e6e6e6;
$mfootBdc: #e6e6e6;
$mfootColor:#e6e6e6;
$topCueBg:#ddf1f2
